* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
body {
    font-family: sans-serif, Segoe UI, Arial;
    font-size: 14px;
}
main {
    width: 1080px;
    margin: auto;
    background-color: #eeeeee;
    padding: 20px 0;
}
header {
    text-align: center;
    margin-bottom: 40px;
}
.ava {
    border-radius: 10px;
    width: 50%;
    height: 50%;
}
h1 {
    color: #23527d;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 40px;
}
h2 {
    color: #23527d;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12px;
}
p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12px;
}
.left-column {
    width: 30%;
    float: left;
    padding: 24px;
    margin: 5px 24px;
    background-color: #f7f7f7;
}
ul,
ol {
    margin-bottom: 20px;
    margin-left: 18px;
}

.content {
    padding: 24px;
    background-color: #f7f7f7;
    border: 5px solid #eeeeee;
}
.code-example {
    color: #7d7d7d;
}
.footer-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.footer-img {
    width: 56px;
    height: 56px;
}
.footer-link {
    color: #23527d;
}